.my_data {
  padding-top: 0.42rem;
}

.my_data-list {
  overflow-x: auto;
  white-space: nowrap;
}

.my_data-list::-webkit-scrollbar {
  display: none;
}

.my_data-item {
  display: inline-block;
  width: 2.46rem;
  height: 1.6rem;
  margin-left: 0.16rem;
  padding: 0.2rem;
  border-radius: 0.08rem;
  background-image: url("/images/data_normal.png");
  background-size: cover;
  white-space: normal;
}

.my_data-item:hover {
  background-image: url("/images/data_hover.png");
  background-size: cover;
}

.my_data-item:hover .my_data-title {
  color: #fff;
}

.my_data-item:hover .my_data-desc {
  color: rgba(255, 255, 255, 0.85);
}

.my_data-item:last-child {
  margin-right: 0.16rem;
}

.my_data-svg {
  margin-bottom: 0.14rem;
}

.my_data-svg svg {
  fill: #E5E6EB;
}

.my_data-title {
  font-family: "DIN", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 0.22rem;
  line-height: 0.28rem;
  color: #262F40;
  margin-bottom: 0.07rem;
}

.my_data-desc {
  font-size: 0.14rem;
  line-height: 0.21rem;
  color: #86909C;
}

@media screen and (min-width: 945px) {
  .my_data {
    padding-top: 63px;
    padding-bottom: 48px;
  }

  .my_data-list {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .my_data-list::-webkit-scrollbar {
    display: none;
  }

  .my_data-item {
    display: block;
    width: 308px;
    height: 182px;
    margin-left: 0;
    padding: 24px;
    border-radius: 8px;
    flex-shrink: 0;
  }

  .my_data-item:first-child {
    margin-left: 0;
  }

  .my_data-item:last-child {
    margin-right: 0;
  }

  .my_data-svg {
    margin-bottom: 16px;
  }

  .my_data-title {
    font-family: "DIN", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #262F40;
    margin-bottom: 8px;
  }

  .my_data-desc {
    font-size: 16px;
    line-height: 24px;
  }
}
