.bottom-try-bar {
  padding: 0.24rem 0.16rem 0.35rem;
  background: linear-gradient(90deg, #303af2 0%, #3095f2 100%);
  background-size: cover;
}

.bottom-try-bar-title {
  color: #fff;
  text-align: center;
  font-size: 0.2rem;
  font-weight: 500;
  line-height: 0.28rem;
  margin-bottom: 0.3rem;
}

.bottom-try-bar .primary-btn {
  border-radius: 0.04rem;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(51, 86, 255, 0.2);
  color: #303af2;
  margin: 0 auto;
  text-decoration: none;
}

@media screen and (min-width: 945px) {
  .bottom-try-bar {
    padding: 72px 0;
  }

  .bottom-try-bar-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 42px;
  }

  .bottom-try-bar .primary-btn {
    width: 218px;
    border-radius: 93px;
  }
}
