.products_part {
  background: #141821;
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
}

.products_part .part_title {
  color: #fff;
}

.product_list {
  margin-left: -0.08rem;
  margin-right: -0.08rem;
}

.product_item {
  display: inline-block;
  width: 50%;
  padding-left: 0.08rem;
  padding-right: 0.08rem;
  margin-bottom: 0.16rem;
}

.product_wrap {
  position: relative;
  width: 100%;
  padding-bottom: 146.78%;
}

.product {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background: transparent;
  border-radius: 0.08rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.24rem 0.16rem 0;
  overflow: hidden;
}

.product-top {
  display: flex;
  align-items: center;
  gap: 0.12rem;
  margin-bottom: 0.08rem;
}

.product-icon,
.product-iconActive {
  width: 0.44rem;
  height: 0.44rem;
  object-fit: contain;
}

.product-iconActive {
  display: none;
}

.product-title {
  font-weight: 600;
  font-size: 0.18rem;
  line-height: 0.28rem;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0.08rem;
}

.product-desc {
  font-size: 0.12rem;
  line-height: 0.2rem;
  color: rgba(255, 255, 255, 0.45);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.product.active {
  background: #303af2;
  border: 1px solid #303af2;
}

.product.active .product-title {
  color: #ffffff;
}

.product.active .product-desc {
  color: rgba(255, 255, 255, 0.85);
}

@media screen and (min-width: 945px) {
  .products_part {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .products_part .part_desc {
    margin-bottom: 56px;
  }

  .product_list {
    margin: 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  .product_item {
    display: inline-block;
    width: 400px;
    height: 200px;
    padding: 0;
    margin: 0;
  }

  .product_wrap {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .product {
    width: 100%;
    height: 100%;
    position: unset;
    background: transparent;
    border-radius: 8px;
    border: 0;
    padding: 24px 32px;
    overflow: hidden;
  }

  .product-top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
  }

  .product-icon,
  .product-iconActive {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 8px;
  }

  .product-iconActive {
    display: none;
  }

  .product-title {
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0;
  }

  .product-desc {
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.45);
    -webkit-line-clamp: 3;
  }

  .product.active {
    background: #303af2;
    border: 0;
  }

  .product:hover {
    background: #303af2;
    border: 0;
  }

  .product:hover .product-icon {
    display: none;
  }

  .product:hover .product-iconActive {
    display: block;
  }
}
