# 微信公众号/服务号
SceneID=80001
WeChatAPPID=
WeChatAPPSecret=
WeChatToken=
WeChatEncodingAESKey=
WeChatUseStableAK=true

# 微信支付相关 - 下只是示例，需要根据情况修改
WeChatMchID=
WeChatMchAPIv3Key=
WeChatMchCertSN=
# 微信支付成功通知地址
URL=https://www.jcaigc.cn

# 数据库连接信息 - PostgreSQL
PostgreSQL=

# JWT签名Key
JWT_SIGNING_KEY=77d8dc93d9f48811576c8e6535b09463
JWT_EXPIRE_DAYS=30