.client_logo-wrap {
  margin-top: 0.24rem;
  position: relative;
  height: 1.6rem;
  overflow: hidden;
}

.client_logo-list {
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.client_logo-row {
  white-space: nowrap;
  width: 50%;
  margin-bottom: 0.16rem;
}

.client_logo-row:last-child {
  margin-bottom: 0;
}

.client_logo-row:nth-child(1) {
  animation: scrollToRight 30s linear infinite;
}

.client_logo-row:nth-child(2) {
  animation: scrollToRight 25s linear infinite;
}

.client_logo-row:nth-child(3) {
  animation: scrollToRight 30s linear infinite;
}

.client_logo-item {
  display: inline-block;
  width: 0.88rem;
  height: 0.4rem;
  margin-right: 0.16rem;
  border-radius: 0.08rem;
  overflow: hidden;
  object-fit: contain;
  background: #fff;
}

.client_logo-mask {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(90deg, #ece9ec 0%, rgba(255, 255, 255, 0.241219) 31.25%, rgba(255, 255, 255, 0) 69.47%, #faf7fa 100%);
}

@keyframes scrollToRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@media screen and (min-width: 945px) {
  .client_logo-wrap {
    margin-top: 78px;
    height: 310px;
  }

  .client_logo-list {
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .client_logo-list::-webkit-scrollbar {
    display: none;
  }

  .client_logo-row {
    width: auto;
    white-space: nowrap;
    margin-bottom: 50px;
    width: 50%;
  }

  .client_logo-item {
    display: inline-block;
    width: 150px;
    height: 64px;
    margin-right: 50px;
    border-radius: 8px;
  }
}
