.trust_signals {
  width: 91%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t_s_item {
  width: 33.33%;
  padding: 0.12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.t_s_item::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 33%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(36, 41, 51, 0.05);
}

.t_s_item:last-child::before {
  content: none;
}

.t_s_icon {
  width: 0.42rem;
  height: 0.24rem;
  margin-bottom: 0.08rem;
}

.t_s_title {
  font-weight: 500;
  font-size: 0.14rem;
  line-height: 0.22rem;
  color: #4e5969;
}

.t_s_desc {
  display: none;
}

@media screen and (min-width: 945px) {
  .trust_signals {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5.5px);
    border-radius: 0;
  }

  .t_s_item {
    width: 426px;
    height: 100px;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .t_s_item::before {
    content: none;
  }

  .t_s_icon {
    width: 74px;
    height: 42px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .t_s_title {
    font-size: 20px;
    line-height: 32px;
    color: #1d2129;
    margin-bottom: 4px;
  }

  .t_s_desc {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #86909c;
  }
}
