.home_form_part {
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
}
.home_form_part .home_form {
  width: 91%;
  margin: 0 auto;
}
.home_form_part .home_form .part_title {
  margin-bottom: 0.16rem;
}
.home_form_part .info_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_form_part .info_form-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_form_part .form-item {
  margin-bottom: 0.3rem;
}
.home_form_part .primary-btn .loading_icon {
  display: none;
}
.home_form_part .primary-btn.loading {
  opacity: 0.6;
}
.home_form_part .primary-btn.loading .loading_icon {
  display: block;
}

.bottom-try-bar {
  padding: 0.24rem 0.16rem 0.35rem;
  background: linear-gradient(135deg, #303af2 0%, #1a237e 100%);
  text-align: center;
}
.bottom-try-bar-title {
  color: #fff;
  font-size: 0.2rem;
  font-weight: 500;
  line-height: 0.28rem;
  margin-bottom: 0.3rem;
}
.bottom-try-bar .primary-btn {
  border-radius: 0.04rem;
  background: #fff;
  box-shadow: 0px 8px 24px 0px rgba(51, 86, 255, 0.2);
  color: #303af2;
  margin: 0 auto;
}

@media screen and (min-width: 945px) {
  .home_form_part {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .home_form_part .home_form {
    width: 1132px;
  }
  .home_form_part .home_form .part_title {
    margin-bottom: 16px;
  }
  .home_form_part .home_form .part_desc {
    margin-bottom: 56px;
  }
  .home_form_part .info_form-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .home_form_part .form-item {
    margin-bottom: 32px;
    width: 356px;
  }

  .bottom-try-bar {
    padding: 72px 0;
  }
  .bottom-try-bar-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 42px;
  }
  .bottom-try-bar .primary-btn {
    width: 218px;
    border-radius: 93px;
    margin: 0 auto;
  }
}
