/* 导航栏 h5样式 */
.header {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #fff;
}

.navbar_pc {
  height: 100%;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_pc-logo {
  display: block;
  width: 260px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.navbar_pc-logo img {
  height: 100%;
}